<h1>The <%= @test_passage.test.title %>Test was Completed!</h1>
	<% if @test_passage.test_passed? %>
		<p style="color:green">Тест пройден успешно</p>
		<p><%= @test_passage.success_rate %></p>
	<% else %>
		<p style="color:red">Тест не пройден</p>
		<p><%= @test_passage.success_rate %></p>
	<% end %>


<%= link_to 'All tests', tests_path %>
