<footer>
	<hr/>
	<p> <%= current_year %> </p>
	<p> Автор: JupiterDev</p>
	<p> Проект: <%= link_to "Test-guru", github_url("JupiterDev", "test-guru") %> </p>
	<p> Описание: веб-приложение для создания и прохождения тестов </p>
	<p> <%= link_to "Учебный проект в онлайн-школе Thinknetica", "http://thinknetica.com/" %> </p>
</footer>
